@import url();
.ffr {flex: auto;
	color: rgb(133, 104, 61);
	color: rgb(118, 76, 76);
position: relative;
position: absolute;

	}

.ffr1 {

	&__item1 {
	}
}
.rrre {
}
.777 {fz
}
.ffr {color: rgb(60, 55, 176)}
/* !@import url(); */
/* ?@import url(); */
/* *@import url(); */
/* //@import url(); */
/* todo@import url(); */
.block {

	&__ {
	}
}
.hhr {X

	&__item {
	}

	&__ {
	}
}
.block {
}
.block__ {
}
.hhr {
}
.hhr__item {
}
.hhr__ {
}
.hj{color: rgb(27, 87, 87);}
.uui{color: rgb(0, 107, 207);}
